.app {
  position: relative;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

.c-pointer {
  cursor: pointer;
}

.td-300 {
  transition-duration: .3s;
}

.gap-1 {
  gap: 1rem;
}

.card {
  &.active {
    background-color: #0d6efd;
    color: #FFF;
  }
}

.hover {
  &:hover:not(.active) {
    background-color: #0001;
  }
}